

<style type="text/css">
	/*import font 'Sigmar One'*/
	@import url(https://fonts.googleapis.com/css?family=Sigmar+One);
	@import url(https://fonts.googleapis.com/css?family=Abel);

	*{
		/*border: 1px solid blue;*/
	}

	h3, h4, li{
		font-family: 'Abel';
	}

	ul{
		list-style-type: none
	}
	
	h1{
		font-family: 'Sigmar One';
	}

	#fighter_rank li{
		font-size: 1.5em;
	}

	#body_right li{
		font-size: 1.5em;
	}
	#tweets{
		padding: 20px;
		border: 1px solid black;
		margin-bottom: 10px;
	}
	#infoContainer{
		padding: 20px;
	}
	
	#fightLocation{
		background-color: orange;
		/*padding-top: 10px;*/
		/*background-color: #d5d3d3;*/
/*		padding: 10px 0px;*/
		border-bottom: 10px solid black;
	}
	#container_fighter{
		display: inline-block;
		vertical-align: middle;
		margin-top: -80px;
/*		border: 1px solid black;*/
	}
	#healthSection{
		border-bottom: 5px solid black;
		padding-bottom: 20px;
	}
	#red{
		background-color: red;
		width:50px;
		height:50px;
	}
	#logo{
		display: inline-block;
		width: 300px;
		height: 200px;
		padding-bottom: 10px;
		padding-top: 10px;
	}
	#batman{
		height: 300px;
		width: 240px;
	}

	#trump{
		height: 300px;
		width: 240px;
	}
	#healthNum{
		padding-top: 100px;
	}
	h1.healthNum{
		font-size: 10em;
		color: white;
		text-align: center;
		margin-top: -20px;
	}
	h1.victoryText{
		font-size: 3em;
	}
	#topRowNav{
		background-color: black;
		padding: 20px 0px;
	}
	#topRowNav a{
		font-family: 'Sigmar One';
		color: white;
		font-size: 1.5em;
		/*margin-left: 40px;*/
		text-decoration: none;
	}
	#topRowNav a:hover {
		color: #5596e5;
	}
	form{
		width: 250px;
		margin-left: 10px;
		padding: 10px 10px;
		border: 3px solid black;
		box-shadow: 10px 10px 5px #888;
	}
	.tagline{
		margin-bottom: 30px;
		color: #5596e5;
		border-bottom: 10px solid black;
		padding-bottom: 20px;
	}
	img#profile_pic{
		float:left;
		height: 100px;
		width: 120px;
		padding-right: 10px;
	}
	.glyphicon-play {
	    font-size: 1.5em;
	    color: gray;
	}
	#versus{
		background-color: black;
		border-radius: 50%;
		width: 100px;
		height: 100px;
	}
	#versus h1{
		color: white;
		padding-top: 30px;
		font-size: 3em;
		margin-top: -10px;
	}
	#audioButtons{
		padding-top: 20px;
	}
	#fighterOne_name{
		background-color: black;
		color: white;
		padding: 10px 0px;
	}
	#fighterTwo_name{
		background-color: black;
		color: white;
		padding: 10px 0px;
	}

	#timer_description{
		margin-left: -37px;
		margin-top: 5px;
	}

	#timer_description li{
		display: inline-block;
		padding: 0px 16px;
	}




	#body_left{
		width: 170px;
		display: inline-block;
		vertical-align: top;
		margin-left: 20px;
		/*margin-left: 50px;*/
	}

	#tweetContainer{
		display:inline-block;
		width: 470px;
		margin-left: 100px;
		vertical-align: top;
		/*margin-left: 100px;*/
	}

	#body_right{
		width: 300px;
		padding: 10px;
		margin-top: 20px;
		margin-left: 130px;
		display: inline-block;
		vertical-align: top;
		/*margin-left: 150px;*/
	}

	#body_right input{
		background-color: red;
		color: white;
		margin-top: 5px;
	}

	#info_tweet_poll{
		width: 1200px;
		margin: 0 auto;
	}

	#advertisment{
		height: 400px;
		background-color: orange;
		background: url("../images/funko_ad.jpg");
	}
	ul#fighter_rank{
		background-color: orange;
		padding: 10px;
		margin-top: -10px;
	}
	.black{
		background-color: black;
		color: white;
		padding: 10px;
	}
	.fa{
		color: red;
	}
	#liveTweets{
		border-top: 5px solid black;
		border-bottom: 5px solid black;
		padding: 10px 0px;
	}
	#news{
		margin-left: -40px;
	}
	#news li{
		padding-bottom: 15px;
	}
	footer{
		height: 400px;
		background-color: black;
		color: white;
		padding-top: 20px;
	}
		footer ul{
			margin-left: 90px;
		}

</style>


<div id="container">
<div ng-controller="TweetController">




	<!-- This section contains the fighters and background images -->
	<div id='fightLocation' align='center'>


			<!-- Top Nav Bar -->
	<div class="row" id="topRowNav">
		<a href="#">See Past Fights!</a>
	</div>


				<h4>Fight Starts In:</h4>
			
				<div id="countdown-2"></div>

				<h4>July 25, 2016</h4>
<!-- 				<ul id='timer_description' align='center'>
					<li>day(s)</li>
					<li>hrs</li>
					<li>mins</li>
					<li>sec</li>
				</ul> -->
						
			<!-- Fighter One -->
			<div id='container_fighter'>
				<img id="batman" src="../images/batman_normal.png" class='animated bounceInDown'  />
				<h1 id='fighterOne_name' class='animated slideInUp'>Batman</h1>
				<!-- If no health is present, then display "0" -->
				<h1 class="healthNum">{{ batmanHealth || "0" }} </h1>
			</div>
			
			<!-- Site Logo / Audio Player  -->
			<div id='container_fighter'>
				<!-- Hashwarrior Logo -->
				<img id="logo" src="../images/hashwarriors_logo-01.png" class='animated infinite pulse'/>

				<!-- Pulsing VS sign -->
		      	<div id="versus">
		      		<h1 class='animated infinite pulse'>VS</h1>
		      	</div>

				<!-- The following will only appear once a winner has been determined -->
				<h1 ng-if="trumpHealth >= 100" class="victoryText">Trump<br>WINS!</h1>
				<h1 ng-if="batmanHealth >= 100" class="victoryText">Batman<br>WINS!</h1>
				<h1 id="victory"></h1>

				<!-- Audio -->
				<audio id="player" src="../images/Dragonforce - Through The Fire And Flames (8 Bit).mp3"></audio>

				<!-- Audio Controller -->
				<div id="audioButtons" align="center">
					<span class="glyphicon glyphicon-play" onclick="document.getElementById('player').play()">
					<span class="glyphicon glyphicon-volume-off" onclick="document.getElementById('player').muted=!document.getElementById('player').muted">
				</div>

				<!-- Original creator of music -->
				<h6 align='center'>Music by <a href="https://www.youtube.com/watch?v=BSFy8N-2CDo">pandoozles</a></h6>
			</div>



			<!-- Fighter Two -->
			<div id='container_fighter'>
				<img id="trump" src="../images/trump_normal.png" class='animated bounceInDown' />
				<h1 id='fighterTwo_name' class='animated slideInUp'>Trump</h1>
				<!-- If no health is present, then display "0" -->
				<h1 class="healthNum">{{ trumpHealth || "0" }} </h1>
			</div>

	</div>
	




	<!-- Tagline -->
	<h1 align="center" class="tagline">
		<span class="fa fa-star" aria-hidden="true"></span>
		<span class="fa fa-star" aria-hidden="true"></span>
		<span class="fa fa-star" aria-hidden="true"></span>
		Your tweets and hashtags determine who wins!
		<span class="fa fa-star" aria-hidden="true"></span>
		<span class="fa fa-star" aria-hidden="true"></span>
		<span class="fa fa-star" aria-hidden="true"></span>
	</h1>



	<div id='info_tweet_poll'>

		<div id='body_left'>
			<h3 align='center' class="black">HashFighter Rankings</h3>
			<ul id="fighter_rank">
				<li>1 Batman</li>
				<li>2 Beyonce</li>
				<li>3 Oprah</li>
				<li>4 Lady Gaga</li>
			</ul>

			<h1 id='advertisment'></h1>
		</div>


		<!-- See the incoming tweets -->
		<div id="tweetContainer">
			<h1 id='liveTweets' class='animated infinite pulse' align='center'>Live Tweets!</h1>

			<div ng-repeat='x in allTweets' id="tweets">
				<img src="{{ x.profile_image }}" id="profile_pic">
				<h2>{{ x.tweeter }}</h2>
				<h4>{{ x.tweet }}</h4>
				<p>{{ x.created_at }}</p>
			</div>
		</div>

		<!-- Poll to see which batttle the users want to next -->


		<div id="body_right">
			<form align='center'>
				<span class="fa fa-star fa-2x" aria-hidden="true"></span>
				<span class="fa fa-star fa-2x" aria-hidden="true"></span>
				<span class="fa fa-star fa-2x" aria-hidden="true"></span>

				<br>

				<h3 align="center">Vote for the next match!!!</h3>

				<div ng-repeat="x in allPoll" id='poll_battle_matches'>
					<h4>{{ x.battle_name }} <input type="submit" value="Vote" ng-click='fight_one(x._id)'>    {{ x.vote_count }}</h4>
				</div>

				<br>

				<span class="fa fa-star fa-2x" aria-hidden="true"></span>
				<span class="fa fa-star fa-2x" aria-hidden="true"></span>
				<span class="fa fa-star fa-2x" aria-hidden="true"></span>

			</form>

			<h3 align='center' class="black">News</h3>
			<ul align='center' id='news'>
				<li><a href='#'>Aquaman destroys Red Ranger in a tight match</a></li>
				<li><a href='#'>Princess Peach dismantles Metroid</a></li>
				<li><a href='#'>Hulk easily wins against Mario</a></li>
			</ul>
		</div>

	</div>


	<footer>
		<div id='footer_col_one'>
			<ul>
				<h4>Battles</h4>
				<li><a href="#">Past Fights</a></li>
				<li><a href="#">Comic Book Battles</a></li>
				<li><a href="#">Celebrity Battles</a></li>
			</ul>

			<ul>
				<h4>Fighters</h4>
				<li><a href="#">All Fighters</a></li>
				<li><a href="#">Fighter News</a></li>
				<li><a href="#">Hall of Fame</a></li>
			</ul>
		</div>

		<div id='footer_col_two'>
			<ul>
				<li><a href="#">About</a></li>
				<li><a href="#">Advertise With Us</a></li>
				<li><a href="#">Rules</a></li>
			</ul>
		</div>
		<h4 align='center'>&copy; 2016 HashFighters | Created, Coded, Designed by David Chen</h4>
	</footer>

	</div><!-- end of infoContainer -->
</div>
</div>

















