

<style type="text/css">
	/*import font 'Sigmar One'*/
	@import url(https://fonts.googleapis.com/css?family=Sigmar+One);

	
	h1{
		font-family: 'Sigmar One';
	}
	#tweets{
		padding: 20px;
		border: 1px solid black;
		margin-bottom: 10px;
	}
	#infoContainer{
		padding: 20px;
	}
	#tweetContainer{
		display:inline-block;
		margin-left: 20px;
	}
	#fightLocation{
		background-color: orange;
		padding-top: 10px;
		/*background-color: #d5d3d3;*/
/*		padding: 10px 0px;*/
		border-bottom: 5px solid black;
	}
	#container_fighter{
		display: inline-block;
		vertical-align: middle;
		margin-top: -80px;
/*		border: 1px solid black;*/
	}
	#healthSection{
		border-bottom: 5px solid black;
		padding-bottom: 20px;
	}
	#red{
		background-color: red;
		width:50px;
		height:50px;
	}
	#logo{
		display: inline-block;
		width: 300px;
		height: 220px;
	}
	#batman{
		height: 300px;
		width: 240px;
	}

	#trump{
		height: 300px;
		width: 240px;
	}
	#healthNum{
		padding-top: 100px;
	}
	h1.healthNum{
		font-size: 10em;
		color: white;
		text-align: center;
		margin-top: -20px;
	}
	h1.victoryText{
		font-size: 3em;
	}
	#topRowNav{
		background-color: black;
		padding: 5px 0px;
	}
	#topRowNav a{
		font-family: 'Sigmar One';
		color: white;
		font-size: 1.5em;
		margin-left: 40px;
		text-decoration: none;
	}
	#topRowNav a:hover {
		color: #5596e5;
	}
	form{
		margin-left: 90px;
		padding: 10px 0px;
		border: 3px solid black;
		box-shadow: 10px 10px 5px #888;
	}
	.tagline{
		margin-bottom: 30px;
		color: #5596e5;
	}
	img#profile_pic{
		float:left;
		height: 100px;
		width: 120px;
		padding-right: 10px;
	}
	.glyphicon-play {
	    font-size: 1.5em;
	    color: gray;
	}
	#versus{
		background-color: black;
		border-radius: 50%;
		width: 100px;
		height: 100px;
	}
	#versus h1{
		color: white;
		padding-top: 30px;
		font-size: 3em;
		margin-top: -10px;
	}
	#audioButtons{
		padding-top: 20px;
	}
	#fighterOne_name{
		background-color: black;
		color: white;
		padding: 10px 0px;
	}
	#fighterTwo_name{
		background-color: black;
		color: white;
		padding: 10px 0px;
	}
	#countdown-2{
		margin-left: 41%;
	}
	#timer_description{
		margin-left: -37px;
		margin-top: 45px;
	}
	#timer_description li{
		display: inline-block;
		padding: 0px 16px;
	}

</style>



<div id="container">
<div ng-controller="TweetController">

	

	<!-- Top Nav Bar -->
	<div class="row" id="topRowNav">
		<a href="#">See Past Fights!</a>
	</div>


	<!-- This section contains the fighters and background images -->
	<div id='fightLocation' align='center'>


				<h4>Fight Starts In:</h4>
			
				<div id="countdown-2"></div>
				<ul id='timer_description'>
					<li>day(s)</li>
					<li>hrs</li>
					<li>mins</li>
					<li>sec</li>
				</ul>
						







			<!-- Fighter One -->
			<div id='container_fighter'>
				<img id="batman" src="../images/batman_normal.png" class='animated bounceInDown'  />
				<h1 id='fighterOne_name' class='animated slideInUp'>Batman</h1>
				<!-- If no health is present, then display "0" -->
				<h1 class="healthNum">{{ batmanHealth || "0" }} </h1>
			</div>
			


			<div id='container_fighter'>
				<!-- Hashwarrior Logo -->
				<img id="logo" src="../images/hashwarriors_logo-01.png" class='animated infinite pulse'/>

				<!-- Display the Rules -->
		      	<div id="versus">
		      		<h1 class='animated infinite pulse'>VS</h1>
		      	</div>

				<!-- The following will only appear once a winner has been determined -->
				<h1 ng-if="trumpHealth >= 100" class="victoryText">Trump<br>WINS!</h1>
				<h1 ng-if="batmanHealth >= 100" class="victoryText">Batman<br>WINS!</h1>
				<h1 id="victory"></h1>

				<!-- Audio -->
				<audio id="player" src="../images/Dragonforce - Through The Fire And Flames (8 Bit).mp3"></audio>

				<!-- Audio Controller -->
				<div id="audioButtons" align="center">
					<span class="glyphicon glyphicon-play" onclick="document.getElementById('player').play()">
					<span class="glyphicon glyphicon-volume-off" onclick="document.getElementById('player').muted=!document.getElementById('player').muted">
				</div>

				<!-- Original creator of music -->
				<h6 align='center'>Music by <a href="https://www.youtube.com/watch?v=BSFy8N-2CDo">pandoozles</a></h6>
			</div>



			<!-- Fighter Two -->
			<div id='container_fighter'>
				<img id="trump" src="../images/trump_normal.png" class='animated bounceInDown' />
				<h1 id='fighterTwo_name' class='animated slideInUp'>Trump</h1>
				<!-- If no health is present, then display "0" -->
				<h1 class="healthNum">{{ trumpHealth || "0" }} </h1>
			</div>




			




	</div>
	




	<!-- Tagline -->
	<h1 align="center" class="tagline">Your tweets and hashtags determine who wins!</h1>

	<div class='col-sm-4'>
		<h1>Hello</h1>
	</div>


	<!-- See the incoming tweets -->
	<div id="tweetContainer" class='col-sm-4'>
		<div ng-repeat='x in allTweets' id="tweets">
			<img src="{{ x.profile_image }}" id="profile_pic">
			<h2>{{ x.tweeter }}</h2>
			<h4>{{ x.tweet }}</h4>
			<p>{{ x.created_at }}</p>
		</div>
	</div>





	<!-- Poll to see which batttle the users want to next -->
	<form class='col-sm-2'>
		<h3 align="center">Vote to see<br>the next<br>battle!!!</h3>
		<h5><input type="radio" name="voteFight" value="bat_vs_supes"> Batman vs Superman</h5>
		<h5><input type="radio" name="voteFight" value="beyonce_vs_ladygaga"> Beyonce vs Lady Gaga</h5>
		<h5><input type="radio" name="voteFight" value="beyonce_vs_ladygaga"> Oprah vs Pikachu</h5>
	</form>


	<!-- Links to previous battles and tweets -->

	</div><!-- end of infoContainer -->
</div>
</div>

















