<style type="text/css">
	@import url(https://fonts.googleapis.com/css?family=Sigmar+One);
	

	h1{
		font-family: 'Sigmar One';
	}
	 
	#tweets{
		width: 600px;
		padding: 20px;
		border: 1px solid black;
		border-radius: 20px;
		margin-bottom: 10px;
	}
	#tweetContainer{
		display:inline-block;
		margin-left: 20px;
	}
	#fightLocation{
		background-color: #d5d3d3;
		padding: 20px 0px;
	}
	#red{
		background-color: red;
		width:50px;
		height:50px;
	}
	#logo{
		display: inline-block;
		margin: 0 auto;
		width: 500px;
		height: 390px;
	}
	#batman{
		display:inline-block;
	}
	#trump{
		display:inline-block;
	}
	h1.healthNum{
		font-size: 5em;
		border: 3px solid black;
		box-shadow: 10px 10px 5px #888;
		color: #5596e5;
	}
	h1.victoryText{
		font-size: 6em;
	}
	#topRowNav{
		background-color: black;
		padding: 10px 0px;
	}
	#topRowNav a{
		font-family: 'Sigmar One';
		color: white;
		font-size: 2em;
		margin-left: 40px;
		text-decoration: none;
	}
	#topRowNav a:hover {
		color: #5596e5;
	}
	form{
		float:right;
		margin-right: 45px;
		padding: 40px;
		border: 3px solid black;
		box-shadow: 10px 10px 5px #888;
	}
	.tagline{
		margin-bottom: 30px;
		color: #5596e5;
	}
	h1#versus{
		font-size: 5em;
	}
	img#profile_pic{
		float:left;
		height: 100px;
		width: 120px;
		padding-right: 10px;
	}
</style>


<div id="container">
<div ng-controller="TweetController">

	<div class="row" id="topRowNav">
		<a href="#">See Past Fights!</a>
	</div>


	<!-- This section contains the fighters and background images -->
	<div id='fightLocation'>

		<div class="row" align="center">
			<img id="batman" src="../images/batman_normal.png"   />

			<img id="logo" src="../images/hashwarriors_logo-01.png"/>

			<img id="trump" src="../images/trump_normal.png"  />
		</div>

	</div>
	

	


	<div class="row">
		<div class="col-sm-4" align="center">
			<h1>Batman</h1>
			<!-- If no health is present, then display "0" -->
			<h1 class="healthNum">{{ batmanHealth || "0" }} </h1>
	    </div>
	    <div class="col-sm-4" align="center">

	      	<div id="versus">
	      		<h1>VERSUS</h1>
	      		<h3>Rule#1 - Don't talk about Hashwarriors!</h3>
	      		<h3>Rule#2 - JK! Please mention Hashwarriors to everyone!</h3>
	      		<h3>Rule#3 - Tweet your comment along with the selected hashtags</h3>
	      		<h3>Rule#4 - Please be civilized with your comments!</h3>
	      	</div>

	      	<h1 ng-if="trumpHealth >= 100" class="victoryText">Trump WINS!</h1>
	      	<h1 ng-if="batmanHealth >= 100" class="victoryText">Batman WINS!</h1>
	      	<h1 id="victory"></h1>
	    </div>
	    <div class="col-sm-4" align="center">
			<h1>Trump</h1>
			<!-- If no health is present, then display "0" -->
			<h1 class="healthNum">{{ trumpHealth || "0" }} </h1>
	    </div>
	</div>

	

	<!-- See the incoming tweets -->



	<h1 align="center" class="tagline">Your tweets and hashtags determine who wins!</h1>

	<div id="tweetContainer">
	<div ng-repeat="x in currentTweets | orderBy: created_at" id="tweets" align="left">
		<img src="{{ x.profile_image }}" id="profile_pic">
		<h2>{{ x.tweeter }}</h2>
		<h4>{{ x.tweet }}</h4>
		<p>{{ x.created_at }}</p>
	</div>

</div>



	<!-- Poll to see which batttle the users want to next -->
	<form >
		<h1>Vote to see<br>the next<br>battle!!!</h1>
		<h3><input type="radio" name="voteFight" value="bat_vs_supes"> Batman vs Superman</h3>
		<h3><input type="radio" name="voteFight" value="beyonce_vs_ladygaga"> Beyonce vs Lady Gaga</h3>
		<h3><input type="radio" name="voteFight" value="beyonce_vs_ladygaga"> Oprah vs Pikachu</h3>
	</form>


</div>
</div>




















